* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #0b131e;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.left-menu-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  background-color: #202b3b;
  color: #8f959d;
  width: 100px;
  border-radius: 20px;
  height: 100%;
  padding: 20px;
}

.left-menu-container .active {
  color: #dcdcdc;
}

.left-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
.left-menu-button h5 {
  font-weight: 500;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  width: 50%;
  height: 100%;
}

.search-input {
  width: 95%;
  height: 50px;
  background-color: #202b3b;
  outline: none;
  border: none;
  border-radius: 10px;
  color: #dcdcdc;
  padding: 10px;
  font-size: 0.9rem;
}

.weather-info-container {
  display: flex;
  align-items: center;
  width: 95%;
  padding: 20px 50px;
  margin-top: auto;
  margin-bottom: auto;
}
.weather-info-container .weather-type {
  width: 200px;
}

.left-weather-info-container {
  margin-right: auto;
}
.left-weather-info-container p {
  color: #8f959d;
  font-size: 1.2rem;
}

.weather-info-place {
  font-size: 2.7rem;
  color: #dcdcdc;
  margin-bottom: 10px;
}

.weather-info-degrees {
  font-size: 3.5rem;
  color: #dcdcdc;
}

.upper-left-weather-info-container {
  margin-bottom: 30px;
}

.day-forecast-container {
  background-color: #202b3b;
  width: 95%;
  height: 30%;
  border-radius: 20px;
  padding: 20px 30px;
  margin-bottom: 20px;
}
.day-forecast-container h5 {
  color: #8f959d;
  margin-bottom: 10px;
}

.day-forecasts-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-forecast {
  border-right: solid #5c626a 1px;
  padding-right: 29px;
  margin-right: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.day-forecast:last-child {
  border: none;
  padding-right: 0;
  margin-right: 0;
}
.day-forecast h5 {
  color: #8f959d;
  margin-bottom: 10px;
  font-size: 1rem;
}
.day-forecast h3 {
  color: #dcdcdc;
  margin-top: 10px;
  font-size: 1.5rem;
}
.day-forecast .day-forecast-icon {
  width: 50px;
  height: 50px;
}

.air-conditions-container {
  background-color: #202b3b;
  width: 95%;
  height: 30%;
  border-radius: 20px;
  padding: 20px 30px;
}
.air-conditions-container > h5 {
  color: #8f959d;
  margin-bottom: 20px;
}

.air-condition-types-upper-container {
  margin-bottom: 10px;
}

.air-condition-types-upper-container,
.air-condition-types-bottom-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.air-condition-container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 50%;
}
.air-condition-container img {
  margin-bottom: auto;
}
.air-condition-container h5 {
  color: #8f959d;
}
.air-condition-container h2 {
  color: #dcdcdc;
  font-size: 2rem;
}

.air-condition-info-container h2 {
  margin-top: 5px;
}

.week-forecasts-container {
  background-color: #202b3b;
  width: 30%;
  border-radius: 20px;
  padding: 30px 40px;
  height: 100%;
}

.week-forecasts-title {
  margin-bottom: 20px;
  color: #8f959d;
}

.week-forecast-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: solid #5c626a 1px;
}
.week-forecast-container:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.week-forecast-date {
  color: #8f959d;
}

.week-forecast-type-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-left: auto;
  margin-right: auto;
}
.week-forecast-type-container h5 {
  color: #dcdcdc;
  margin-left: 10px;
}

.week-forecast-degrees {
  color: #8f959d;
}
.week-forecast-degrees span {
  color: #dcdcdc;
}/*# sourceMappingURL=index.css.map */